@{
    ViewData["Title"] = "Tutoring Price";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <h4>Unleashing your creativity</h4>
    <br/>

    <img src="~/img/banner.png" height="200" width="450"/>

    <br/>
    <br/>

    <h5>Calculate Interior Design Tutoring Cost</h5>
    <form>
        <label>How many hours would you like to be tutored? </label>
        <input type="number" id="hours" step="0.5" min="0"/>

        <br />
        <br />

        <label>Tutoring Cost per Hour: </label>
        <input value ="65" id="cost" disabled /> <!--make the box uneditable with 'disabled'-->

        <br />
        <br />

        <input type="button" value="Calculate" id="btnSubmit" /> <!--button to submit and calculate-->


        <br />
        <br />

        <p></p>

    </form>
</div>
