@{
    ViewData["Title"] = "Interior Design";
}

<div class="text-center">
    <h1 class="display-4">Interior Design</h1>
    <h4>Unleashing your creativity</h4>
    <br/>

    <!--add pictures-->
    <img src="~/img/bold.jpeg" height="200" width="250" />
    <img src="~/img/minimalist.jpeg" height="200" width="250" />
    <img src="~/img/industrial.jpeg" height="200" width="250" />

    <br/>
    <br/>

    <!--add body paragraphs-->
    <p>
        Interior design is more than just home DIY projects and splashing new paint on the walls.
        It's a creative expression of one's personality, style, and taste. 
        Interior design can completely transform a space from dull and boring to vibrant and inviting. 
        It can also affect the mood, comfort, and well-being of the people who 
        live or work in that space.
    </p>

    <p>
        Interior design is one of my hobbies because it allows me to unleash my imagination 
        and experiment with different ideas. I love walking into a space and contemplating the potential that it has. 
        It's amazing how little details can change the mood of the atmosphere. One of my favorite activites is going on 
        house tours seeing how design affects the home. Small changes can make a big difference in the look and feel of a room.
    </p>
</div>
